/* hidding the ratio button */
.rate > input {
    display: none;
    
}

.rate{
    display: inline-block;
    border: 0;
}

.rate > label {
    float: right;
}

.rate > label:before {
    display: inline;
    align-self: self-start;
    font-size: 1.2rem;
    font-family: FontAwesome;
    content: "\f005"; /* Unicode star character */
    padding: 0.3rem 0.2rem;
    margin: 0;
    cursor: pointer;
}  

/* Half star class  */
.rate .half:before {
    content: "\f089"; /* Unicode half star character */
    position: absolute;
    padding-right: 0;
}

input:checked ~ label, label:hover ~ label {
    color: #f0ad4e; /* Color for checked stars */
}

input:not(:checked) ~ label:hover, input:not(:checked) ~ label:hover ~ label {
    color: #cc9000; /* Color for hovered stars */
}

.rating-start i {
    color: #2f4e19; /* Color for the rating stars */
}