{% load static %} 


<!-- ========================= FOOTER ========================= -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-section brand">
      <h2>JRAMAHE'S</h2>
      <p>Software Engineer.</p>
    </div>

    <div class="footer-section links">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>

    <div class="footer-section service">
      <h4>Customer Service</h4>
      <ul>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="#">Track Order</a></li>
      </ul>
    </div>

    <div class="footer-section">
        <h4>Language / Country</h4>
        <select id="language-selector">
            <option value="en">🇺🇸 English (US)</option>
            <option value="es">🇪🇸 Español (ES)</option>
            <option value="fr">🇫🇷 Français (FR)</option>
            <option value="jp">🇯🇵 日本語 (JP)</option>
        </select>
    </div>


    <div class="footer-section social">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </div>
    </div>
  </div>

    

  <div class="footer-bottom">
    <p class="text-muted"> &copy {{ current_datetime | date:"F j, Y" }} JRAMAHE'S All rights reserved</p>

    <div class="footer-section">
        <h4>Theme</h4>
        <button id="theme-toggle">🌙 Dark Mode</button>
    </div>

  </div>

</footer>
<!-- ========================= FOOTER END // ========================= -->

<script>
  const toggle = document.getElementById('theme-toggle');
  const body = document.body;

  toggle.addEventListener('click', () => {
    body.classList.toggle('dark-mode');

    if (body.classList.contains('dark-mode')) {
      toggle.textContent = '☀️ Light Mode';
    } else {
      toggle.textContent = '🌙 Dark Mode';
    }
  });
</script>
